<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jameswolfeoliver.pigeon">

    <!--Start Normal Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--Start Normal Permissions-->

    <!--Start Dangerous Permissions-->
    <!--Messaging-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />

    <!--Contact-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--End Dangerous Permissions-->


    <application
        android:name="com.jameswolfeoliver.pigeon.Utilities.PigeonApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon_circle"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/AppTheme.launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.InboxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
        </activity>

    </application>

</manifest>